@keyframes fadeIn {
    from {
        color: rgba(0, 0, 0, 0);
    }

    to {
        color: #ffffff;
    }
}

#instamessage {
    text-align: center;
}

#instamessage-subtitle {
    font-family: sans-serif;
    font-size: 1vw;
    color: #a1a1a1;
    text-align: center;
}

#instamessage-projectPage {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 0.8vw;
    display: block;
    width: 10vw;
    text-align: center;
}

#instamessage-projectPage:hover {
    text-decoration: underline;
}

#instamessage a {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

}

#instamessage a:hover {
    color: #3a7e99;
}

#main {
    display: block;
}

#main-title {
    color: white;
    text-align: center;

    font-family: 'Times New Roman', sans-serif;
    font-size: 40px;
    float: left;

    width: 100%;
    padding-top: 24%;
}

#main-subtitle {
    color: rgba(0, 0, 0, 0);

    width: 100%;

    text-align: center;

    font-family: monospace;
    font-size: 14px;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1.05s;
    animation-fill-mode: forwards;
}

#main-projects {
    width: 100%;

    height: 100vh;
    text-align: center;

    color: #ffffff;

    font-size: 30px;
}

#instamessage-web {
    display: none;
    color: white;
}

#web-input {
    font-family: 'Arial', serif;
    padding: 10px;
}

.web-input {
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

#web-chat-screen {
    display: none;
}

#web-chat {
    width: 50vw;
    height: 90vh;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    overflow: auto;
}

a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 20px;
}

body {
    background-color: #0f0f0f;
    margin: 0;
}

* {
    text-rendering: optimizeLegibility;

    margin: 0;
    padding: 0 0;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

br {
    font-size: 10px;
}

h1 {
    font-family: sans-serif;
    font-size: 56px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0.1em;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: #a1a1a1;
    font-weight: normal;
}

.noscript {
    width: 100vw;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 20px;
}

#main-title-container {
    height: 100vh;
    background-image: URL("recources/code 2.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.main-title-container-scroll {
    height: 10vw;
}
